.searchBtn {
    color: gray;
    position: absolute;
    margin:auto;
    cursor: pointer;
    bottom: 10px;
    top:20px;
    padding-left: 10px;
    margin-right: 20px;
    

}

.form-group {
    
    margin: auto;
    border-top: none;
    border-left: none;
    border-right:none;
    height: auto;
    width: 100%;
    padding-bottom: 10px;
}

.form-control {
     display: inline;
    /* padding-left: 30px; */
     


}

