.searchBtn {
    color: gray;
    position: absolute;
    margin:auto;
    cursor: pointer;
    bottom: 10px;
    top:40px;
    padding-left: 10px;
    margin-right: 20px;
    

}

.form-group {
    
    margin: 10px; 
    border-top: none;
    border-left: none;
    border-right:none;
    max-width: 100%;
    height: auto;
}

.form-control {
     display: inline;
    padding-left: 30px;
     


}

