.widget{
    text-align: center;
    height: auto;
    width: auto;
    background-color: #426f6f;
    margin-top: 65px;
    margin-bottom: clear;
    color: rgb(16, 16, 133);
    border-top: rgb(216, 216, 226);
}

