.wrapper {
    display: flex;
    width: 100%;
    height:100%;
    align-items: stretch;
    
}

#sidebar {
    width: 100%;
    min-height: 100vh;
    background: #69c4d1;
    text-align: center;

}