h1 {
    color: #ffffff;
    justify-content: right;
}

.navbar-light {
    
    background-color: #393A4E;

}

.profile-text {
    color: #ffffff;

}


.btn-toggle {
    position: absolute;
    right: 10px;
    top: 5px;
}


